.tab-container{display:none}
.tab-container.active{display:block}
.tab-container.empty{padding-top:200px;text-align:center}

.menu-item {
    float: left;
    width: 140px;
    height: 140px;
    border: 2px solid white;
    position: relative;
    background-size: cover;
}

.menu-item p {
    position: absolute;
    right: 0;
    bottom: -100%;
    color: black;
    font-size: 18px;
    margin-bottom: 0;
    padding-right: 5px;
    padding-bottom: 2px;
    background: lightgrey;
    width: 100%;
    mix-blend-mode: screen;
    css-animation: 1s;
    animation: ease-in 1s;
    display: none;
}

.menu-item:hover p {
    bottom: 0;
}

.menu-item:hover {
    cursor: hand;
    cursor: pointer;
}

.menu-item .info {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}

.menu-item:hover .info {
    opacity: 1;
}

.menu-item .price {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: white;
    vertical-align: middle;
    top: 50%;
    position: absolute;
    margin-top: -15px;
}

span#status-wrap {
    left: inherit;
    right: 20px;
}

footer {
    padding: 10px 0;
    text-align: center;
    background-color:black;
    height: auto;
}

header nav {
    left: inherit;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 25px;
}

.tab-container {
    padding: 15px;
}

nav a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

div#page-container {
    height: auto;
    position: relative;
}

.menu-item.selected .counter {
    background-color: green;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    content: attr(data-count);
    border-radius: 100%;
    color: white;
    text-align: center;
    font-size: 25px;
    z-index:1;
}

.menu-item.selected {
    border-color: green;
}

#status:not(:empty):after {
    content: 'à¸¿';
    background: none;
    color: inherit;
}