.tab-container{display:none}
.tab-container.active{display:block}
.tab-container.empty{padding-top:200px;text-align:center}

.menu-item {
    float: left;
    width: 141px;
    height: 140px;
    border: 2px solid white;
    position: relative;
    background-size: cover;
}

.menu-item p {
    position: absolute;
    right: 0;
    bottom: -100%;
    color: black;
    font-size: 18px;
    margin-bottom: 0;
    padding-right: 5px;
    padding-bottom: 2px;
    background: lightgrey;
    width: 100%;
    mix-blend-mode: screen;
    css-animation: 1s;
    animation: ease-in 1s;
    display: none;
}

.menu-item:hover p {
    bottom: 0;
}

.menu-item:hover {
    cursor: hand;
    cursor: pointer;
}

.menu-item .info {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}

.menu-item:hover .info {
    opacity: 1;
}

.menu-item .price {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: white;
    vertical-align: middle;
    top: 50%;
    position: absolute;
    margin-top: -15px;
}